@font-face {
  font-family: 'SamsungSharpSans-Bold';
  src: url('../fonts/SamsungSharpSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SamsungSharpSans-Bold.otf') format('opentype'), url('../fonts/SamsungSharpSans-Bold.woff') format('woff'), url('../fonts/SamsungSharpSans-Bold.ttf') format('truetype'), url('../fonts/SamsungSharpSans-Bold.svg#SamsungSharpSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungSharpSans-Medium';
  src: url('../fonts/SamsungSharpSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SamsungSharpSans-Medium.otf') format('opentype'), url('../fonts/SamsungSharpSans-Medium.woff') format('woff'), url('../fonts/SamsungSharpSans-Medium.ttf') format('truetype'), url('../fonts/SamsungSharpSans-Medium.svg#SamsungSharpSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungOne-400';
  src: url('../fonts/SamsungOne-400.eot?#iefix') format('embedded-opentype'), url('../fonts/SamsungOne-400.woff') format('woff'), url('../fonts/SamsungOne-400.ttf') format('truetype'), url('../fonts/SamsungOne-400.svg#SamsungOne-400') format('svg');
  font-weight: normal;
  font-style: normal;
}