$prefix: "sam_";
$default_font_size: 14px;
$deault_line_height: 1.4em;
$default_font_family: "SamsungSharpSans-Bold";
$blue: #00b3e2;

$max-container-width: 1920px;
$sm-width: 480px;
$md-width: 1000px;
$lg-width: 1350px;
